[submodule "Plugins/UE5PNC"]
	path = Plugins/UE5PNC
	url = https://github.com/StephanieRct/UE5PNC.git
[submodule "Plugins/PncTests"]
	path = Plugins/PncTests
	url = https://github.com/StephanieRct/UE5PNCTests.git
